body{
    background-color: black;color: white;
}

article{
    background-color: rgb(44, 43, 43); 
    padding: 1.5rem;
    border-bottom: 1px solid;color:aliceblue;
}

.resaltado{
    color: yellow;
}

.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}

#titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
}

.ilustracion{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: italic;
}


.ilustracion figcaption{
margin-top: 1rem;
margin-left: 1rem;
font-size: italic;
}

.footer_blog{
    margin: 2rem;
}

